h1 {
  font-family: verdana;
}
p {
  font-family: courier;
}
body {
  background-image: url("myBackground.jpg");
}

#nav-table {width: 800px;}
#nav-td {width: 200px; text-align:center;}
#volleyball {
  float: left;
  margin-top: 45px;
}
#about-me {text-align:center;}
