h1 {
  color: rgb(250, 250, 250);
  font-family: verdana;
}
p {
  color: rgb(10, 244, 252);
  font-family: courier;
}
body {
  background-image: url("myBackground.jpg");
}

#nav-table {width: 800px;}
#nav-td {width: 200px; text-align:center;}
#volleyball {
  float: left;
  margin-top: 45px;
}
#about-me {width: 800px;}
