           h1 {
              font-family: verdana;
              color: rgb(237, 245, 14);
          } 
          body {
              background-color: rgb(14, 18, 54);
          }
           p {
               font-family: courier;
               color: rgb(250, 250, 250);
           }
#nav-table {width: 800px;}
#nav-td {width: 200px; text-align:center;}
